<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.appfinity" version="1.0.8" versionCode="8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HappyReply</name>
    <description>
        Emoji survey app
    </description>
    <author email="support@appfinity.com" href="https://app.appfinity.com">
       AppFinity Technologies
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <splash density="land-hdpi" src="static/screen/android/splash-xhdpi.png" />
        <splash density="land-ldpi" src="static/screen/android/splash-xhdpi.png" />
        <splash density="land-mdpi" src="static/screen/android/splash-xhdpi.png" />
        <splash density="land-xhdpi" src="static/screen/android/splash-xhdpi.png" />
        <splash density="land-xxhdpi" src="static/screen/android/splash-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="static/screen/android/splash-xxxhdpi.png" />
        <splash density="port-hdpi" src="static/screen/android/splash.png" />
        <splash density="port-ldpi" src="static/screen/android/splash.png" />
        <splash density="port-mdpi" src="static/screen/android/splash.png" />
        <splash density="port-xhdpi" src="static/screen/android/splash.png" />
    </platform>
    <feature name="http://api.phonegap.com/1.0/network" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <icon density="mdpi" height="57" platform="android" src="static/icon/happyreply.png" width="57" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="orientation" value="landscape" />
    <plugin name="com.moust.cordova.videoplayer" spec="https://github.com/moust/cordova-plugin-videoplayer.git" />
    <plugin name="cordova-plugin-kiosk" spec="git+https://github.com/hkalina/cordova-plugin-kiosk.git" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-sqlite-2" spec="^1.0.4" />
    <plugin name="cordova-plugin-websql" spec="0.0.10" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <engine name="browser" spec="^5.0.1" />
    <engine name="ios" spec="^4.5.4" />
</widget>
