.question-wrapper {
   padding: 10px;
   
   h2 {
     color: $text-color-light;
     font-style: bold;

   }

}


.answer_content {
   h3 {
      color: $text-color-light;
      font-size: 20px;
   }
}