.survey-intro {
	min-height: 100vh;
	width: 100%;
	vertical-align: middle;
	
	.wrapper-question {
		padding-top: 5em;
	}

	.question-wrapper {
		h2 {
			font-family: $font-family-nunito;
			font-weight: 600;
		}

		h3 {
			// font-family: 'Open Sans';
		}
	} 

	.intro {
		text-align: center;
	  	position: absolute;
	  	top: 50%; left: 50%;
	  	transform: translate(-50%,-50%);

		h1 {
			font-family: $font-family-nunito;
			color: $text-color-light;
			font-size: 50px;
			font-weight: 600;
		}

		h4 {
			font-weight: 50px;
			color: $text-color-flat-blue;
		}
	}

	#youtube_media {
		position:absolute;
	    top: 0;
	    min-width: 100%;
	    min-height: 100%;
	    width: 100%;
	    background-blend-mode: overlay;
	    height: 100%;
	    z-index: -100;
		background-size: cover;
	}
}

.video_overlay {
	background-color: rgba(0, 0, 0, 0.8);
}
	

.wrapper {
	font-family: $font-family-lato;
}

.custom-nav {
	margin-top: 100px;
	font-size: 20px;
	font-weight: bold;
	font-family: $font-family-lato;

	.custom-link-nav {
		border-top: 1px solid #013243;
		border-bottom: 1px solid #013243;
    }

}



.emoji-img {
	width: 100px;
 }

 
#sidebar {
position: relative;
min-height: 100vh;
width: 100%;
vertical-align: middle;
}



.block-header {
	margin-top: 80px !important;
    margin-bottom: 25px;
    position: relative
}

#emoji-size {
	width: 6.25% !important;
	// float: none;
 //    margin: 0 auto;
}


@media screen and (max-width: 975px) {
  #emoji-size {
    width: 9% !important;
  }
}